include *.rst
include LICENSE
include Makefile
include tox.ini
include README.md
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *.py
